<a href="https://colab.research.google.com/github/SvA1/Compling/blob/master/ML_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [0]:
data = pd.read_csv('weatherHistory.csv')

In [45]:
data.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [0]:
def clean_column(column):
    column = column.lower()
    column = [word for word in column.split() if not'(' in word]
    column = '_'.join(column)
    return column

In [0]:
replace = {}
for column in data.columns:
    replace[column] = clean_column(column)
data.rename(replace, axis=1, inplace=True)

In [0]:
data.rename({'formatted_date': 'date'}, axis=1, inplace=True)

In [49]:
data.columns

Index(['date', 'summary', 'precip_type', 'temperature', 'apparent_temperature',
       'humidity', 'wind_speed', 'wind_bearing', 'visibility', 'loud_cover',
       'pressure', 'daily_summary'],
      dtype='object')

In [0]:
data.date = pd.to_datetime(data.date, utc=True)

In [51]:
data.date

0       2006-03-31 22:00:00+00:00
1       2006-03-31 23:00:00+00:00
2       2006-04-01 00:00:00+00:00
3       2006-04-01 01:00:00+00:00
4       2006-04-01 02:00:00+00:00
                   ...
96448   2016-09-09 17:00:00+00:00
96449   2016-09-09 18:00:00+00:00
96450   2016-09-09 19:00:00+00:00
96451   2016-09-09 20:00:00+00:00
96452   2016-09-09 21:00:00+00:00
Name: date, Length: 96453, dtype: datetime64[ns, UTC]

In [0]:
data.sort_values(by='date', inplace=True)

In [53]:
data.head(4)

,date,summary,precip_type,temperature,apparent_temperature,humidity,wind_speed,wind_bearing,visibility,loud_cover,pressure,daily_summary
2880,2005-12-31 23:00:00+00:00,Partly Cloudy,rain,0.577778,-4.050000,0.89,17.1143,140.0,9.9820,0.0,1016.66,Mostly cloudy throughout the day.
2881,2006-01-01 00:00:00+00:00,Mostly Cloudy,rain,1.161111,-3.238889,0.85,16.6152,139.0,9.9015,0.0,1016.15,Mostly cloudy throughout the day.
2882,2006-01-01 01:00:00+00:00,Mostly Cloudy,rain,1.666667,-3.155556,0.82,20.2538,140.0,9.9015,0.0,1015.87,Mostly cloudy throughout the day.
2883,2006-01-01 02:00:00+00:00,Overcast,rain,1.711111,-2.194444,0.82,14.4900,140.0,9.9015,0.0,1015.56,Mostly cloudy throughout the day.

**1) самый ветрянный месяц**

In [0]:
by_month = data.groupby(by=data.date.dt.month)['date', 'wind_speed'].mean()

In [55]:
by_month.loc[by_month.wind_speed == by_month.wind_speed.max()]

      wind_speed
date
3      13.415825

**2)самый влажный месяц**

In [0]:
by_year = data.groupby(by=data.date.dt.year)['date', 'humidity'].mean()

In [57]:
by_year.loc[by_year.humidity == by_year.humidity.max()]

      humidity
date
2005      0.89

**3) неделя с самой переменчивой погодой**

In [0]:
by_week = data.groupby(by=data.date.dt.week)['date', 'temperature', 'humidity', 'wind_speed'].std() #данные больше всего отклоняются от среднего

In [59]:
by_week.sort_values(by=['humidity', 'temperature', 'wind_speed'], ascending=False).head(1)

      temperature  humidity  wind_speed
date
34       6.149509  0.223476    6.005965

# Домашнее задание 2

In [65]:
import nltk
nltk.download('punkt')
import string

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [0]:
data = pd.read_csv('data.csv')

Можно предположить, что объявления с большим количеством предложений более содержательны и, как следствие, более привлекательны для покупателя.

In [0]:
def number_of_sent(text):
    return len(nltk.tokenize.sent_tokenize(text, language='russian'))

In [0]:
data['number_of_sent'] = data.description.apply(number_of_sent)